*{
  margin: 0px;
}


h1{
  color: rgba(209, 136, 232, 0.765);
  display: flex;
  
  font-size: 160px;
  
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;

  justify-content: center;
}

h2{
  color: rgba(235, 192, 236, 0.468);
 display: flex;
  justify-content: center;
  font-size: 145px;
  margin-top: 180px;
  margin-bottom: 150px;
  margin-right: auto;
  margin-left: auto;
}

a{
  color: rgba(0, 222, 237, 0.468);
  display: flex;
  align-items: center;
  justify-content: center;
font-size: 50px;
margin-top: 200px;

  margin-right: 20px;
  margin-left: 20px;
}

body{
  background: linear-gradient(rgba(222, 154, 231, 0.651), rgba(62, 0, 81, 0.822));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;
  background-clip: content-box;
  background-attachment: fixed;

  


}


body{

  margin: 20px;
  
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;
}

